@import 'variables';

.extra-small-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: $secondary-text-color;
}

.small-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: $secondary-text-color;
}

.subtitle-text {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: $primary-text-color;
}

.large-font {
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: $primary-text-color;
}
