.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.font-bold {
    font-weight: 500;
}

.secondary-text {
    color: $secondary-text-color;
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer !important;
}

.margin-left-1rem {
    margin-left: 1rem !important;
}

.margin-left-auto {
    margin-left: auto !important;
}

.height-fit {
    height: fit-content !important;
}

.position-relative {
    position: relative;
}

.align-center {
    align-items: center !important;
}
