$primary-color: #1DA1F2;
$primary-background: #F2F2F2;
$secondary-background: #EDF8FF;
$primary-text-color: #323238;
$secondary-text-color: #949C9E;
$white: #FFFFFF;
$border-color: #E5E5E5;
$danger: #F34642;
$tablet-screen: 768px;
