@import 'src/styles/_imports.scss';

.header {
    @include flex-box(center, center, column);
    padding: 1rem 1rem 0.5rem;

    .mat-mdc-outlined-button {
        --mdc-outlined-button-label-text-size: 0.875rem;
        --mdc-outlined-button-label-text-tracking: 0.5px;
        --mdc-outlined-button-label-text-weight: 400;
    }

    &__quick-actions {
        @include flex-box(center, center, column, 0.75rem);
        margin-bottom: 0.75rem;
        width: 100%;
    }

    &__row {
        @include flex-box(space-between, center, $gap: 0.75rem);
        width: 100%;
    }

    &__button {
        width: 50%;
    }

    &__actions {
        @include flex-box(center, center);
    }
}
